<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#001219 ; ">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" >Latest News</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="nav navbar-nav">
      <li><a href="/" class="link-nav">What's Happening</a></li>
      <li><a href ="https://africa.espn.com/" class="link-nav">ESPN</a></li>
      <li><a href ="https://www.bloomberg.com/africa" class="link-nav">Bloomberg</a></li>
      <li><a href ="https://us.cnn.com/" class="link-nav">CNN</a></li>
      <li><a href="/sources" class="link-nav">More Sites Here</a></li>
    </ul>
  </div>
  </nav>
