{% extends 'base.html' %}
{% block style %}
{% endblock %}
{% block content %}
<link rel ="stylesheet" type="text/css" href="{{url_for('static', filename='styles/source.css')}}">
<div class="container">
    <ul>
    {% for source in sources%}
            <div class="card" id="card1">
                    <p class="edit">{{source.name}}</p>
                    <p class="edit1">{{source.description}}</p>
                    <button class="bt1"><a href="{{source.url}}">Surf The Website</a></button>
               
            </div>
    {% endfor %}
    </ul>
</div>
{% endblock %}